* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #63af27;
}

.color-white {
  color: #f9f9f9;
}

.color-black {
  color: #121212;
}

.bg-black {
  background-color: #121212;
}

.bg-icon {
  background-color: #93c94a;
}

p {
  color: #121212;
}

img {
  width: 100%;
  height: auto;
}

.logo {
  width: 150px;
}

.color-icon {
  color: #93c94a !important;
}

.carousel-control-next, .carousel-control-prev {
  z-index: 99 !important;
}

header {
  z-index: 99;
  width: 100%;
  overflow: hidden;
  z-index: 999;
}

header .list-menu .list li .item-menu {
  display: inline-block;
  position: relative;
  color: #f9f9f9;
}

header .list-menu .list li .item-menu:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #63af27;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

header .list-menu .list li .item-menu:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.btn-contacto {
  border: 1px solid #63af27;
  padding: 10px 20px;
  border-radius: 10px;
  color: #f9f9f9;
  text-decoration: none;
}

.btn-contacto:hover {
  background-color: #349319 !important;
  color: #f9f9f9;
}

.redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-bg {
  height: 600px !important;
}

.carousel-bg:nth-child(1) {
  background-image: url(../img/banner-4.jpeg);
  background-size: cover;
  background-position: center center;
}

.carousel-bg:nth-child(1)::after {
  content: "";
  background: #121212;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}

.carousel-bg:nth-child(2) {
  background-image: url(../img/banner-5.jpeg);
  background-size: cover;
  background-position: center center;
}

.carousel-bg:nth-child(2)::after {
  content: "";
  background: #121212;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}

.carousel-bg:nth-child(3) {
  background-image: url(../img/banner-7.jpeg);
  background-size: cover;
  background-position: center center;
}

.carousel-bg:nth-child(3)::after {
  content: "";
  background: #121212;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}

.text-banner {
  z-index: 99 !important;
}

main {
  overflow: hidden;
}

main .bg-section {
  background-image: url(../img/bg-banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .bg-banner-2 {
  background-image: url(../img/bg-banner-2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 600px) {
  header {
    display: none;
  }
  .text-sm-center {
    text-align: center;
  }
  .icon-sm-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */