* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #63af27;
}

.color-white {
  color: #f9f9f9;
}

.color-black {
  color: #121212;
}

.color-s {
  color: #349319;
}

.color-c {
  color: #005b30;
}

.bg-black {
  background-color: #121212;
}

.bg-icon {
  background-color: #93c94a;
}

p {
  color: #121212;
}

img {
  width: 100%;
  height: auto;
}

.text-justify {
  text-align: justify !important;
}

.logo {
  width: 150px;
}

.color-icon {
  color: #93c94a !important;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 99 !important;
}

header {
  z-index: 99;
  width: 100%;
  overflow: hidden;
  z-index: 999;
}

header .list-menu .list li .item-menu {
  display: inline-block;
  position: relative;
  color: #f9f9f9;
}

header .list-menu .list li .item-menu:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #63af27;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

header .list-menu .list li .item-menu:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

header .menu-bar-movil {
  width: 100%;
  position: fixed;
  z-index: 99999 !important;
  top: 0;
  padding: 0 1.5rem;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5.875rem;
}

header .menu-bar-movil .logo-menu-movil {
  width: 6rem;
}

header .menu-bar-movil .burger-menu {
  cursor: pointer;
  font-size: 2.1875rem;
}

header .menu-bar-movil .slideMenu {
  position: fixed;
  height: 100%;
  top: 0;
  left: -80%;
  background: #f9f9f9;
  text-align: left;
  width: 80%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header .menu-bar-movil .slideMenu.active {
  left: 0;
}

header .menu-bar-movil .slideMenu .top-redes {
  margin-bottom: 0.625rem;
}

header .menu-bar-movil .slideMenu .top-redes a {
  padding: 0 0.5625rem;
}

header .menu-bar-movil .slideMenu .menu-principal a {
  display: block;
  padding: 0.625rem 1rem;
}

header .menu-bar-movil .slideMenu .menu-principal a:hover {
  background: #fff;
}

.btn-contacto {
  border: 1px solid #63af27;
  padding: 10px 20px;
  border-radius: 10px;
  color: #f9f9f9;
  text-decoration: none;
}

.btn-contacto:hover {
  background-color: #349319 !important;
  color: #f9f9f9;
}

.redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-bg {
  height: 600px !important;
}

.carousel-bg:nth-child(1) {
  background-image: url(../img/banner-1.jpg);
  background-size: cover;
  background-position: center center;
}

.carousel-bg:nth-child(1)::after {
  content: "";
  background: #121212;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}

.carousel-bg:nth-child(2) {
  background-image: url(../img/banner-7.jpeg);
  background-size: cover;
  background-position: center center;
}

.carousel-bg:nth-child(2)::after {
  content: "";
  background: #121212;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}

.carousel-bg:nth-child(3) {
  background-image: url(../img/banner-4.jpeg);
  background-size: cover;
  background-position: center center;
}

.carousel-bg:nth-child(3)::after {
  content: "";
  background: #121212;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}

.carousel-bg:nth-child(4) {
  background-image: url(../img/banner-8.jpeg);
  background-size: cover;
  background-position: center center;
}

.carousel-bg:nth-child(4)::after {
  content: "";
  background: #121212;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}

.carousel-bg:nth-child(5) {
  background-image: url(../img/banner-9.jpeg);
  background-size: cover;
  background-position: center center;
}

.carousel-bg:nth-child(5)::after {
  content: "";
  background: #121212;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}

.text-banner {
  z-index: 99 !important;
}

main {
  overflow: hidden;
}

main .bg-section {
  background-image: url(../img/bg-banner-2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .bg-banner-2 {
  background-image: url(../img/bg-banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  height: 480px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .text-sm-center {
    text-align: center;
  }
  .icon-sm-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bg-banner-2 {
    background-size: cover !important;
  }
  .navbar {
    display: none !important;
  }
  .bar-menu {
    display: none !important;
  }
  .menu-bar-movil {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.ocultar {
  opacity: 0;
}

.animar {
  -webkit-animation: aparecer 1.3s;
          animation: aparecer 1.3s;
}

.falling-leaves {
  position: absolute;
  width: 100%;
  height: 550px;
  border-radius: 50px;
  background: url() no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.leaf-scene {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.leaf-scene div {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(https://toppng.com/public/uploads/thumbnail/hojas-en-png-dibujo-de-hoja-verde-11562899901itt0c8hg9g.png) no-repeat;
  background-size: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.bg-silueta {
  height: 550px;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url(../img/silueta-green.png);
}
/*# sourceMappingURL=style.css.map */