$color-principal: #63af27;
$color-secundario: #349319;
$color-complemetario: #005b30;
$color-icon: #93c94a;
$color-negro: #121212;
$color-blanco: #f9f9f9;

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-principal;
}

.color-white {
    color: $color-blanco;
}

.color-black {
    color: $color-negro;
}

.color-s {
    color: $color-secundario;
}
.bg-black {
    background-color: $color-negro;
}

.bg-icon {
    background-color: $color-icon;
}

p {
    color: $color-negro;
}

img {
    width: 100%;
    height: auto;
}

.text-justify{
    text-align: justify!important; 
}

.logo {
    width: 150px;
}

.color-icon {
    color: $color-icon !important;
}
.carousel-control-next, .carousel-control-prev{
    z-index: 99!important;
}

header {
    // background: $color-blanco;
    z-index: 99;
    width: 100%;
    overflow: hidden;
    z-index: 999;

    .list-menu {
        .list {
            li {
                .item-menu {
                    display: inline-block;
                    position: relative;
                    color: $color-blanco;
                }

                .item-menu:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $color-principal;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }

                .item-menu:hover:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }


    .menu-bar-movil {
        
        // background: $color-blanco;
        width: 100%;
        position: fixed;
        z-index: 99999!important;
        top: 0;
        padding: 0 1.5rem;
        display: none;
        
        justify-content: flex-end;
        align-items: center;
        min-height: 5.875rem;
        
        
        .logo-menu-movil{
            width: 6rem;
        }
    
        .burger-menu {
            cursor: pointer;
            font-size: 2.1875rem;

        }
    
        .slideMenu {
            position: fixed;
            height: 100%;
            top: 0;
            left: -80%;
            background: $color-blanco;
            text-align: left;
            // padding: 1.25rem 2.25rem;
            width: 80%;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
    
            &.active {
                left: 0;
            }
    
            .top-redes {
                margin-bottom: 0.625rem;
    
                a {
                    padding: 0 0.5625rem;
                }
            }
    
            .menu-principal {
                a {
                    display: block;
                    padding: 0.625rem 1rem;
                    
                    // border-top: 1px solid #e1e1e1;
                    &:hover{
                        background: #fff;
                    }
                }
            }
        }
    }


}
.btn-contacto{
    border: 1px  solid $color-principal;
    padding: 10px 20px;
    border-radius: 10px;
    color: $color-blanco;
    text-decoration: none;

    &:hover{
        background-color: $color-secundario!important; 
        color: $color-blanco;
    }
}


.redes-sociales {
    display: flex;
    align-items: center;
}

.carousel-bg {
    height: 600px !important;

    &:nth-child(1) {
        background-image: url(../img/banner-4.jpeg);
        background-size: cover;
        background-position: center center;

        &::after {
            content: "";
            background: $color-negro;
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: .7;
        }
    }

    &:nth-child(2) {
        background-image: url(../img/banner-5.jpeg);
        background-size: cover;
        background-position: center center;

        &::after {
            content: "";
            background: $color-negro;
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: .7;
        }
    }

    &:nth-child(3) {
        background-image: url(../img/banner-7.jpeg);
        background-size: cover;
        background-position: center center;

        &::after {
            content: "";
            background: $color-negro;
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: .7;
        }
    }
}

.text-banner {
    z-index: 99 !important;
    
}

main {
    overflow: hidden;

    .bg-section {
        
        background-image: url(../img/bg-banner-2.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg-banner-2 {
        
        background-image: url(../img/bg-banner.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        height: 480px;
        align-items: center;
        display: flex;
    }
}


@media (max-width:600px) {

        .text-sm-center{
            text-align: center;
        }
        .icon-sm-center{
            justify-content: center ;
        }
        .bg-banner-2 {
            background-size: cover!important;
        }
        .navbar{
            display: none!important;
        }
        .bar-menu{
            display: none!important;
        }
        .menu-bar-movil {
            display: flex!important;
        }
}

@keyframes aparecer {

    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.ocultar {
    opacity: 0;
}

.animar {
    animation: aparecer 1.3s;
}