$color-principal: #63af27;
$color-secundario: #349319;
$color-complemetario: #005b30;
$color-icon: #93c94a;
$color-negro: #121212;
$color-blanco: #f9f9f9;

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-principal;
}

.color-white {
    color: $color-blanco;
}

.color-black {
    color: $color-negro;
}

.bg-black {
    background-color: $color-negro;
}

.bg-icon {
    background-color: $color-icon;
}

p {
    color: $color-negro;
}

img {
    width: 100%;
    height: auto;
}
.text-justify{
    text-align: justify!important; 
}
.logo {
    width: 150px;
}

.color-icon {
    color: $color-icon !important;
}
.carousel-control-next, .carousel-control-prev{
    z-index: 99!important;
}

header {
    // background: $color-blanco;
    z-index: 99;
    width: 100%;
    overflow: hidden;
    z-index: 999;

    .list-menu {
        .list {
            li {
                .item-menu {
                    display: inline-block;
                    position: relative;
                    color: $color-blanco;
                }

                .item-menu:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $color-principal;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }

                .item-menu:hover:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }
}
.btn-contacto{
    border: 1px  solid $color-principal;
    padding: 10px 20px;
    border-radius: 10px;
    color: $color-blanco;
    text-decoration: none;

    &:hover{
        background-color: $color-secundario!important; 
        color: $color-blanco;
    }
}


.redes-sociales {
    display: flex;
    align-items: center;
}

.carousel-bg {
    height: 600px !important;

    &:nth-child(1) {
        background-image: url(../img/banner-4.jpeg);
        background-size: cover;
        background-position: center center;

        &::after {
            content: "";
            background: $color-negro;
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: .7;
        }
    }

    &:nth-child(2) {
        background-image: url(../img/banner-5.jpeg);
        background-size: cover;
        background-position: center center;

        &::after {
            content: "";
            background: $color-negro;
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: .7;
        }
    }

    &:nth-child(3) {
        background-image: url(../img/banner-7.jpeg);
        background-size: cover;
        background-position: center center;

        &::after {
            content: "";
            background: $color-negro;
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: .7;
        }
    }
}

.text-banner {
    z-index: 99 !important;
    // background: $color-negro;
}

main {
    overflow: hidden;

    .bg-section {
        // background: $color-negro;
        background-image: url(../img/bg-banner.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg-banner-2 {
        // background: $color-negro;
        background-image: url(../img/bg-banner-2.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


@media (max-width:600px) {
        header{
            display: none;
        }

        .text-sm-center{
            text-align: center;
        }
        .icon-sm-center{
            justify-content: center ;
        }
}


.menu-movil {
    width: 100%;
    height: 100%;
    position: absolute;

    /* fallback for old browsers */
    background: $color-principal;
    /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    position: fixed;
    clip-path: circle(0.0% at 0 0);
    text-align: center;

    ul {

        a {
            text-decoration: none;

            li {
                color: $color-blanco;
                margin: 30px 0;
                list-style: none;
                font-size: 28px;
                font-weight: 700;
                transition: all .1s ease-in;
                -webkit-transition: all .1s ease-in;
                -o-transition: all .1s ease-in;

                &:hover {
                    transition: all .1s ease-in;
                    -webkit-transition: all .1s ease-in;
                    -o-transition: all .1s ease-in;
                    color: #c66a2b;
                }

            }


            &.inactivo-temporal {
                color: #3f3f3f;
                cursor: context-menu;
            }
        }


    }

    &.active {
        clip-path: circle(150% at 0 0);
        transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;

    }
}

